<!DOCTYPE html>
<html>
<head>
<title>Add authors</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Slide Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
</script>
<link href="css/addbookstyle.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
<!-- //web font -->
</head>
<body>
<meta name="robots" content="noindex">
<body>
<!-- main -->
<div class="w3layouts-main"> 
	<div class="bg-layer">
		<h1>Add Author</h1>
		<!---728x90--->

		<div class="header-main">
			
			<div class="header-left-bottom">
				<form id="addauthor" action="/addauthors/addauthor" method="get">
					<div class="icon1">
                        <input type="text" name="name" placeholder="Author's Name" autofocus required required=""/>
					</div>
					<div class="icon1">
                        <input type="text" name="books" class="form-control" placeholder="Title of books"  required=""/>
                    </div>
				
					<div class="icon1">
                        <label>Author's Image:</label>
                        <input type="file" accept="image/*" name="image" class="form-control"  required=""/>
					</div>
					<div class="bottom">
						<button type="submit" class="btn">ADD</button>
					</div>
					
					<div class="clear"></div>
				</form>	
			</div>
			
		</div>
		
	</div>
</div>	
</body>
</html>
