<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>library</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">    
    <style>      
      .social{
        position: absolute;
        z-index: 10;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .social li
      {
        list-style: none;
      }
      .social li a
      {
        display: inline-block;
        margin-right: 20px;
       filter: invert(1);
        transform: scale(0.5);
        transition: 0.5s;
      }
      .social li a:hover
      {
        transform: scale(0.5) translateY(-15px);
      }
    </style>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0;i<nav1.length;i++){%>
        <li>
          <a href="<%=nav1[i].link%>"><%=nav1[i].name%></a>
        </li>
        <%}%>
      </ul>
      <!-- <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
<div class="w3layouts-main"> 
	<div class="bg-layer">
         <P id="q">A ROOM WITHOUT BOOKS <br> IS LIKE A <br> BODY WITHOUT SOUL <br> - CICERO</P>   
  </div>
</div>
<ul class="social">
    <li>
        <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
    </li>
    <li>
        <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
    </li>
    <li>
        <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
    </li>
</ul>
<center>
  <h1>Lot's of e-books . 100% FREE <br> Welcome to your friendly neighbourhood library.. <br> <br>
    <a href="/login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">GET STARTED</a>
  </h1>
</center>
<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>